<!DOCTYPE html>
<html>
  <head>
    <title>
      <%=
        if (yield :title) != "invke"
          (yield :title) + " | invke"
        else
          yield :title
        end
      %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google fonts API inclusion -->
    <link href="https://fonts.googleapis.com/css?family=Damion:400,700|Poppins:400,700" rel="stylesheet">
  </head>

  <body>
    <%# TEMPLATE HEADER #%>
    <%= render partial: "shared/navbar" %>
    <%# PAGE CONTENT #%>
    <%= yield %>
  </body>
</html>
