<!DOCTYPE html>
<html>
  <head>
    <title>
      <%=
        if (yield :title) != "invke"
          (yield :title) + " | invke"
        else
          yield :title
        end
      %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Google fonts API inclusion -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Handlee|Pacifico:400|Poppins:300,400,700|Wire+One|Comfortaa|Poiret+One" rel="stylesheet">
  </head>

  <body class="body">
    <%# Render the background overlay %>
    <div class="body__background-overlay">
      <div class="mask">
        <div class="line line--1"></div>
        <div class="line line--2"></div>
        <div class="line line--3"></div>
        <div class="line line--4"></div>
        <div class="line line--5"></div>
        <div class="line line--6"></div>
      </div>
      <div class="xbg">
        <div class="xbg__left">
          <div class="xbg__left-top"></div>
          <div class="xbg__left-top-triangle"></div>
          <div class="xbg__left-bottom-triangle"></div>
          <div class="xbg__left-bottom"></div>
        </div>
        <div class="xbg__center">
          <div class="xbg__center-top-padding"></div>
          <div class="xbg__center-top-left-triangle"></div>
          <div class="xbg__center-top-right-triangle"></div>
          <div class="xbg__center-top-padding"></div>
          <div class="xbg__center-center"></div>
          <div class="xbg__center-bottom-left-triangle"></div>
          <div class="xbg__center-bottom-right-triangle"></div>
        </div>
        <div class="xbg__right">
          <div class="xbg__right-top"></div>
          <div class="xbg__right-top-triangle"></div>
          <div class="xbg__right-bottom-triangle"></div>
          <div class="xbg__right-bottom"></div>
        </div>
      </div>
    </div>

    <%# Render the foreground overlay %>
    <div class="body__foreground-overlay"></div>

    <%# Render the navigation / header overlay %>
    <%= render partial: 'shared/navigation' %>

    <div class="body__content">

      <%# Render the content #%>
      <%= yield %>

      <!--<footer class="footer">
        <div class="container">
          <p class="footer__thanks">
            Thank you for your visit, your feedback is welcome,
            <br>
            <br>
            Have a good day,
            <br>
            Monty
          </p>
        </div>
      </footer>-->
    </div>
  </body>
</html>
